:root {
  --purple: #847AD1;
  --large: 10px;
}

body {
  font-family: 'Roboto', sans-serif;

  h1 {
    color: var(--purple);
    padding: var(--large);
  }
}

.screen {
  position: absolute;
}

.screen-enter {
  opacity: 0.01;

  &.screen-enter-active {
    opacity: 1;
    transition: opacity 250ms 250ms ease-in;
  }
}

.screen-leave {
  opacity: 1;

  &.screen-leave-active {
    opacity: 0.01;
    transition: opacity 250ms ease-in;
  }
}
