:root {
  --purple: #847AD1;
  --large: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  h1 {
    color: var(--purple);
    padding: var(--large);
  }
}

.wallpaper {
  position: absolute;
  top: 0; left: 0;

  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.screen {
  position: absolute;
  top: 0; left: 0;

  width: 100%;
  height: 100%;
}

.login {
  position: absolute;
  top: 50%; left: 50%;

  max-width: 280px;
  padding: 16px;

  transform: translate(-50%,-50%);

  .logo {
    display: block;
    height: 80px;
    margin: 16px auto;
  }
}

.screen-enter {
  opacity: 0.01;

  &.screen-enter-active {
    opacity: 1;
    transition: opacity 250ms 250ms ease-in;
  }
}

.screen-leave {
  opacity: 1;

  &.screen-leave-active {
    opacity: 0.01;
    transition: opacity 250ms ease-in;
  }
}
